body {
  background-color: #fdfffd; 
  margin: 0px;
}

.logo {
  display: block;
  grid-column: span 2;
}


.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 300px 60px 45vh 45vh 45vh;
  grid-template-columns: 16.54vw 16.54vw 16.54vw 16.54vw 16.54vw 16.54vw;
  transition: transform .5s;
}

.container div {
  font-size: 30px;
  text-align: center;
}

svg {
  width: 30px;
}

.nav {
  grid-column: 1 / -1;
  background-color: #fffdfd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  
}

.nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 20px;
}

.nav li a {
  display: block;
  color: #fa9f37;
  text-align: center;
  font-size: 0.95em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}

.nav li a:hover {
  color: #050403;
  border-bottom: 3px solid rgb(38, 97, 24);
  background-color: transparent;
}

.listproduct {
  background-color: rgb(196, 158, 158);
  border: 2px solid black;
  margin: 15px;
}

.productimage {
  width: 14.75vw;
  height: 29vh;
  object-fit: cover; 
  object-position: center;
}

.Wishlish {
  margin: 45px;
}
.blank {
  background-color: rgb(255, 255, 255);
  margin: 15px;
}

body.showcart .cartTab{
   inset: 0 -600px 0 auto;
}

.cartTab {
  width: 600px;
  background-color: rgba(233, 165, 165, 0.911);
  position: fixed;
  inset: 0 0 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 50px 90px ;
  transition: .5s;
}

.listcart p {
  margin: 5px 0;
}

.cartTab h1 {
  margin: 0;
  font-size: 50px;
  line-height: 70px;
  grid-column: span 4;
}

.cartTab .button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .button button {
  background-color: rgba(217, 255, 0, 0.493);
  color: black;
  cursor: pointer;
    border-color: rgba(217, 255, 0, 0.61);
}

.cartTab .button .close { 
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #fdfffd;
}

body.showcart .CheckOutTab{
   inset: 0 -600px 0 auto;
}

.name-money{  
  display: grid;
  grid-template-rows: 35px 35px 35px 35px 90px ;
}

.CheckOutTab {
  width: 600px;
  background-color: rgba(233, 165, 165, 0.911);
  position: fixed;
  inset: 0 0 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 45px 230px;
  transition: .5s;
}

.CheckOutTab .button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 90px;
}

.CheckOutTab .button .done {
  background-color: rgba(217, 255, 0, 0.493);
  color: black;
  cursor: pointer;
    border-color: rgba(217, 255, 0, 0.61);
}


.CheckOutTab .button .close { 
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #fdfffd;
}


body.showcart .ReceiptTab{
   inset: 0 -600px 0 auto;
}
.ReceiptTab h1 {
  margin: 0;
  font-size: 50px;
  line-height: 70px;
}

.ReceiptTab {
  width: 600px;
  background-color: rgba(233, 165, 165, 0.911);
  position: fixed;
  inset: 0 0 0 auto;
  display: grid;
  grid-template-rows: 40px 70px 10px 1fr 50px 50px 90px;
  transition: .5s;
}

.ReceiptTab .button {
  display: grid;
  grid-template-columns: 1fr;
}

.ReceiptTab .button button {
  background-color: rgba(217, 255, 0, 0.493);
  color: black;
  cursor: pointer;
  border-color: rgba(217, 255, 0, 0.61);
}

.ReceiptTab .button .close {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #fdfffd;
}

.checkoutWarning {
  color: red;
  font-size: 20px;
}

.cartTab .button .reset {
  background-color: rgba(255, 100, 100, 0.6);
  color: black;
  cursor: pointer;
  border-color: rgba(255, 100, 100, 0.8);
}

.cartTab .resetbutton {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}